body{
    background-color: #6B9B8A;
    font-family: 'ABeeZee', sans-serif;
}
form{
    margin: 10%;

}

nav{
    background-color:#10e79c ;
    align-items: center;
}
h3{
    text-align: center;
    margin: 50px;

}
